body {
  background: radial-gradient(circle at bottom left, #000000, #313b4a); /* Darker blue */
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: background-move 8s linear infinite; /* Added animation for scrolling */
}

@keyframes background-move {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}

.container {
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.name {
  color: #fff;
  font-size: 5rem;
  text-align: center;
}

.rentry {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.rentry .material-symbols-outlined {
  margin-right: 0.5rem; /* Adjust spacing as needed */
}

/* Responsiveness for mobile and other devices */
@media (max-width: 768px) {
  .name {
    font-size: 3rem;
  }
  .rentry {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 2rem;
  }
  .rentry {
    font-size: 0.8rem;
  }
}
